{% extends "navbar.html" %}

{% block title %}Sobre el Proyecto{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Sobre el Proyecto</h1>

    <div class="mt-4">
        <h5>Número del Equipo: 11</h5>
    </div>

    <div class="mt-4">
        <h5>Título del Proyecto</h5>
        <p>EVALUACIÓN DE ALTERNATIVAS DE ENERGÍA EÓLICA Y SOLAR MEDIANTE ANÁLISIS DE DATOS EN LA CIUDAD DE MANIZALES, CALDAS COLOMBIA HACIA 2025</p>
    </div>

    <div class="mt-4">
        <h5>Objetivo del Proyecto</h5>
        <p>Identificar cuál es la mejor alternativa de implementación y sostenibilidad de energías (Solar y eólica) renovables en la región de Caldas, específicamente en la ciudad de Manizales, y desarrollar soluciones mediante el uso de modelos predictivos y análisis avanzado de datos, con el fin de optimizar la eficiencia y viabilidad de la transición energética en estas zonas desatendidas para el año 2025.</p>
    </div>

    <div class="mt-4">
        <h5>Nombres de los Integrantes</h5>
        <ul>
            <li>Gabriel Andrés Restrepo Izquierdo</li>
            <li>Sadi Nicolás Mendoza Soriano</li>
            <li>Alejandro Giraldo Sierra</li>
            <li>Juan Mario Rojas Rojas</li>
            <li>Diego Fernando Cano</li>
            <li>Juan David Ruiz Olmos</li>
            <li>Alejandro Patiño</li>
        </ul>
    </div>

    <div class="mt-4" id="endDiv">
        <h5>Enlaces Relacionados</h5>
        <ul>
            <li><a href="https://drive.google.com/drive/folders/1ANIlQGzCSmlJTndpAjG9w5joGTZmYX4f?usp=sharing" class="text-decoration-none">Ir al drive del proyecto</a></li>
            <li><a href="https://github.com/Demuniano/TalentoTech" class="text-decoration-none">Ver repositorio de Github</a></li>
            <li><a href="https://wind-rose.streamlit.app" class="text-decoration-none">Aplicativo Rosa de vientos</a></li>
        </ul>
    </div>
</div>
<style>
    #endDiv {
        margin-bottom: 100px;
    }
</style>
{% endblock %}