{% extends "navbar.html" %}

{% block content %}
<div class="container my-5">
    <section id="proyecto">
        <h1 class="text-center mb-4">Análisis del Potencial Eólico en Manizales</h1>
        <p class="lead">
            El desarrollo de un país depende de diversos factores, entre los cuales la generación de energía es clave. 
            En Colombia, la creciente demanda de energía eléctrica requiere explorar nuevas fuentes sostenibles, como la energía eólica o la energía solar. 
            Este proyecto se enfoca en analizar el potencial eólico junto al potencial solar de la ciudad de Manizales, Caldas, para identificar zonas óptimas para 
            la implementación de parques eólicos y/o granjas solares.
        </p>
    </section>

    <section id="importancia" class="mt-5">
        <h2 class="mt-4">Importancia del Proyecto</h2>
        <ul>
            <li>Contribuir a una matriz energética más sostenible y reducir la dependencia de combustibles fósiles.</li>
            <li>Identificar zonas con alto potencial eólico en la región cafetera.</li>
            <li>Identificar zonas con alto potencial solar en la región cafetera.</li>
            <li>Proporcionar herramientas para la implementación de proyectos eólicos futuros.</li>
        </ul>
    </section>


</div>
{% endblock %}
